

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTF FLAG</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: black;
        }

        .centered-text {
            text-align: center;
            padding: 20px;
            color : white;
            font-family: 'Times New Roman', serif;
            border: 2px solid white;
        }
    </style>
</head>
<body>
    <div class="centered-text">
        <h1> CTFFLAG{'SHOULDYOUCHOOSETOACCEPTIT'} </h1>
    </div>
</body>
</html>



  
